body {
  margin: 0;
  padding: 0;
  background: url(../images/bg.gif) #eee;
}


#modes {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  margin: 6pt 6pt 0 6pt;
  padding: 6pt 0 6pt 6pt;
  z-index: 100000;
  background: #999;
  overflow: auto;
  -webkit-border-radius: 4pt;
}

#modes button {
  float: left;
  display: block;
  margin: 0 6pt 0 0;
  padding: 4pt;
  border: none;
  background: #ccc;
  -webkit-border-radius: 4pt;
}

#modes button.set {
  background: #fff;
}

#modes button img {
  display: block;
}


#layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#layout.draw {
  cursor: crosshair;
}

#layout.select {
  cursor: default;
}


.shape {
  background: #fff;
  border: 1px solid #bbb;
}
 
.handle {
  background: #999;
}
