body {
  margin: 0;
  padding: 0;
  font: 100% helvetica;
  background: #eee;
}


/* header */

#header {
  background: #111;
  color: #fff;
  padding: 1.25em 1em 0.25em 1em;
  margin: 0;
  line-height: 1.3;
}

h1 {
  white-space: pre;
  margin: 0;
  font: bold 150% monaco, monospace;
}

#header p {
  margin: 1em 0;
}

#header a {
  color: #cc5;
}
 
#header a:hover {
  color: #ee3;
}


/* the actual "app" */

#container {
  width: 100%;
  position: relative;
  overflow: auto;
}

#toolbar-container {
  background: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

#toolbar {
  background: #fff;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
  width: 970px;
  overflow: auto;
}

#toolbar .button {
  float: left;
  padding: 2px;
  margin: 4px 5px;
  cursor: default;
  border: 1px outset #eee;
  line-height: 18px;
}

#toolbar .button img {
  display: block;
}

#toolbar .button:active {
  border-style: inset;
}

#toolbar .button.set {
  border-style: inset;
}

#toolbar .modes {
  margin-left: 5px;
  float: left;
}

#toolbar .actions {
  margin-right: 5px;
  float: right;
}

#toolbar .buttons {
  float: right;
}

#toolbar .modes .button {
  margin-right: 0;
}

#toolbar .actions .button {
  margin-left: 0;
  padding-left: 3px;
  padding-right: 4px;
  font-size: 90%;
}

#layout {
  height: 400px;
  width: 970px;
  background: #eee;
  overflow: none;
  position: relative;
}

#layout .column {
  height: 100%;
  background: #ddd;
  float: left;
  width: 28px;
  margin-left: 10px;
  margin-right: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#layout.draw {
  cursor: crosshair;
}

#layout.select {
  cursor: default;
}

.shape {
  background: #fff;
  border: 1px solid #bbb;
}

.handle {
  background: #999;
}

#warnings {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  font-size: 90%;
  z-index: 10000;
}

#warnings div b {
  background: #ff3;
  padding: 0.2em 0.3em;
}
